{% extends 'erp/base.html.twig' %}
{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    {#<h3>Importar Contatos</h3>#}
                </div>

                {#<div class="title_right">#}
                {#<div class="col-md-5 col-sm-5   form-group pull-right top_search">#}
                {#<div class="input-group">#}
                {#<input type="text" class="form-control" placeholder="Procurar lista...">#}
                {#<span class="input-group-btn">#}
                {#<button class="btn btn-default" type="button"><i class="fa fa-search"></i> </button>#}
                {#</span>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Importar Contatos</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% form_theme form 'bootstrap_4_layout.html.twig' %}
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="colmd-12" style="margin-left: 10px">
                                    <h6>Para importar os contatos primeiro digite um nome para a lista que irá
                                        receber os contatos importados. </h6>
                                    <h6>A ordem dos campos deverá ser e-mail, nome. </h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.nome) }}
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="colmd-12" style="margin-left: 10px">
                                    <h6>Agora selecione o arquivo .csv que contém os dados a serem importados.</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.arquivo) }}
                                </div>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary">Importar</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}
