{% extends 'erp/base.html.twig' %}
{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Listas E-Mail Marketing</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Procurar lista...">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i> </button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a href="{{ path('importar_lista_email_marketing') }}"
                                       class="btn btn-lg btn-secondary active" role="button" aria-pressed="true">Importar
                                        Lista
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('importar_lista_email_marketing') }}"
                                       class="btn btn-lg btn-secondary active" role="button" aria-pressed="true">Criar
                                        Lista
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped table-dark" >
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Lista</th>
                                    <th scope="col">Data de Criação</th>
                                    <th scope="col">Número de Contatos</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}