<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ERP Vortex</title>

    <script src="https://kit.fontawesome.com/c46f4b8baa.js" crossorigin="anonymous"></script>


    <!-- Bootstrap -->
    <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    {#<link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">#}
    <!-- NProgress -->
    <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('build/css/custom.css') }}" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col footer_fixed">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-sellsy"></i> <span>Vortex ERP</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                {#{{  include('erp/menu_profile.html.twig')  }}#}
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                {{   include('erp/sidebar.html.twig') }}
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                {{ include('erp/menu_footer.html.twig') }}
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        {{ include('erp/top_navigation.html.twig') }}
        <!-- /top navigation -->

        <!-- page content -->
        {#{{ include('erp/page_content.html.twig') }}#}
        {% block page_content %}

        {% endblock %}
        <!-- /page content -->



        <!-- footer content -->
        {{ include('erp/footer_content.html.twig') }}
        <!-- /footer content -->
    </div>
</div>


<!-- jQuery -->
<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('vendors/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ asset('vendors/nprogress/nprogress.js') }}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ asset('build/js/custom.min.js') }}"></script>

{% block javascript %}
{% endblock %}
</body>
</html>