<div class="profile clearfix">
    <div class="profile_pic">
        <img src="{{ asset('images/img.jpg') }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>John Doe</h2>
    </div>
    <div class="clearfix"></div>
</div>