<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        {#<h3>General</h3>#}
        <ul class="nav side-menu">
            <li><a><i class="fa fa-cash-register"></i> Vendas <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="index.html">PDV</a></li>
                    <li><a href="index2.html">Pedidos de Venda</a></li>
                    <li><a href="index3.html">Nota Fiscal</a></li>
                    <li><a href="index3.html">Nota Fiscal Consumidor</a></li>
                    <li><a href="index3.html">Pedido de Venda</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-shopping-basket"></i> Compras <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="form.html">Entrada de Nota</a></li>
                    <li><a href="form_advanced.html">Pedido de Compra</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-boxes"></i> Estoques <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="general_elements.html">Movimentações</a></li>
                    <li><a href="media_gallery.html">Inventário</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-percentage"></i>Financeiro <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Fluxo de Caixa</a></li>
                    <li><a href="fixed_footer.html">Remessa/Retorno</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-minus-square"></i>Contas a Pagar <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Lançamentos</a></li>
                    <li><a href="fixed_footer.html">Agenda</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-plus-square"></i>Contas a Receber <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                    <li><a href="fixed_footer.html">Fixed Footer</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="tables.html">Produtos</a></li>
                    <li><a href="tables_dynamic.html">Clientes/Fornecedores</a></li>
                    <li><a href="tables_dynamic.html">Usuários</a></li>
                    <li><a href="tables_dynamic.html">Configurações</a></li>
                    <li><a href="tables_dynamic.html">Empresa</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-chart-bar"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="tables.html">Produtos</a></li>
                    <li><a href="tables_dynamic.html">Clientes/Fornecedores</a></li>
                    <li><a href="tables_dynamic.html">Usuários</a></li>
                    <li><a href="tables_dynamic.html">Configurações</a></li>
                    <li><a href="tables_dynamic.html">Empresa</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-envelope"></i> Email Mkt <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ path('listas_email_marketing') }}">Listas</a></li>
                    <li><a href="chartjs2.html">Campanhas</a></li>
                    <li><a href="morisjs.html">Relatórios</a></li>
                </ul>
            </li>

        </ul>
    </div>


</div>